<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="You will find here basic information about my person, CV, references and my interest">
	<meta name="author" content="Slawomir Tulski">
	<title>Slawomir Tulski | {{ title }}</title>

	<!-- Boorstrap CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.css"> -->

	<!-- highligh CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="static/css/custom.css">

</head>
<body>
	<div class="container-fluid" id="no_margin">
		<div class="row">
				<div class="navbar navbar-default navbar-fixed-top">
  					<ul class="nav menu nav-pills">
        				<li><a href="/">Home</a></li>
        				<li><a href="/CV">CV</a></li>
      				</ul>
				</div>			
		</div>

		{% block body_block %} {% endblock body_block %}

		<footer id="footer">
			Copyrights 2015 Slawomir Tulski
		</footer>

	</div>
	<!-- JS scripts -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	
	<script type="text/javascript">
		$('a').click(function(){
    		$('html, body').animate({
        		scrollTop: $( $(this).attr('href') ).offset().top
    			}, 500);
    		return false;
		});
	</script>
</body>
</html>
