{% extends "base.html" %}

{% block body_block %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div class="post-preview">
                <a href="hate_speech">
                    <h2 class="post-title">
                        Recognition of hate speech in Facebook comments
                    </h2>
                    <h3 class="post-subtitle">
                       In the following post, ML/NLP techniques were used to automatically classify hate speech within Facebook’s comments. Created model was able to detect 74% hate speech in out-of-sample data. At the same time, 64% of all comments classified as hate speech, actually were true positives.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on August 5, 2017</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="hive_redshift_test">
                    <h2 class="post-title">
                        Testing Hadoop/Hive and Redshift as ETL(ELT) tool
                    </h2>
                    <h3 class="post-subtitle">
                       Data transformation is most complex part of processes called ETL, which stand for Extract, Transform and Load. In general, goal of ETL job is to take data in certain form from system A and move it in desirable form into system B. In this post I will describe tests conducted to assess Hadoop/Hive and Redshift stacks as ETL toolkit.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on June 3, 2017</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="comparing_listening">
                    <h2 class="post-title">
                        Comparing listening of music: 2008 vs 2016
                    </h2>
                    <h3 class="post-subtitle">
                       Having account at last.fm since 2005, now I have archive with more than 162 thousands of tracks recorded. I decided to take a little bit closer look at what I have listened to. For comparison, I took two time periods: year 2008 and 2016...
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on March 5, 2017</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="price_movement">
                    <h2 class="post-title">
                        Price movement prediction using decision tree
                    </h2>
                    <h3 class="post-subtitle">
                       Traditionally, there have been three major approaches in trading – fundamental/technical analysis and passive investing. Recently, new type of approach has become more and more popular – algorithmic trading. In this post I will create and evaluate Decision Tree model to predict direction of next 14 days’ price movement.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on January 15, 2017</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="more_than">
                    <h2 class="post-title">
                        Web scraping is more than just parsing HTML...
                    </h2>
                    <h3 class="post-subtitle">
                       Modern web is endless source of all kinds of data. Viewing those data only through web browser is limiting. This is where web scrapers come to play. Ability to programmatically access and extract internet resources opens a new broad range of possibilities for developers.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on September 24, 2016</p>
            </div>
            <hr>

            <div class="post-preview">
                <a href="creepy_scraper">
                    <h2 class="post-title">
                        Creepy Scraper
                    </h2>
                    <h3 class="post-subtitle">
                        Nowadays, it’s not a problem to find personal information about someone. And I’m not talking about famous people. Everyone dumps tons of data about themselves into various social media. It’s part of our lifestyle now and I am not visionary here. Is it good or bad? It’s not topic for this post. But it lies close to it...
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on May 14, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="/proxy_harvester">
                    <h2 class="post-title">
                        Proxy harvester
                    </h2>
                    <h3 class="post-subtitle">
                        It is always nice to have proxies.... unfortunately, it is not the same while you have to pay for them. Especially when you just want quite reliable proxies from time to time, just for your personal scraping usage. You may not want to care about VPNs or whatever. What you can do?
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/home">Slaw</a> on February 10, 2016</p>
            </div>
            <hr>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock body_block %}