{% extends "base.html" %}


{% block body_block %}

<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<div class="container">
				<h1>Slawomir Tulski</h1>
				<p class="lead">Big Data Engineer</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<blockquote>
			“We are drowning in information and starving for knowledge.”
			<cite>Rutherford D. Rogers</cite>
		</blockquote>

		<h1 class="my_head"> <span>Creepy Scraper, 14.05.2016</span></h1>
		<article>
			<p>Nowadays, it’s not a problem to find personal information about someone. And I’m not talking about famous people. Everyone dumps tons of data about themselves into various social media. It’s part of our lifestyle now and I am not visionary here. Is it good or bad? It’s not topic for this post. But it lies close to it. There are two short stories which inspired me to create little site project called ‘Creepy Scraper’. I’ve shown it on one of the hack-day in my workplace.
			</p>
			<div style="text-align: center; margin-top: 20px;"><a href="/creepy_scraper"><b>...Read more...</b></a></div>
		</article>

		<h1 class="my_head"> <span>Proxy harvester, 10.02.2016</span></h1>
		<article>
			<p>It is always nice to have proxies.... unfortunately, it is not the same while you have to pay for them. Especially when you just want quite reliable proxies from time to time, just for your personal scraping usage. You may not want to care about VPNs or whatever. What you can do?</p>
			<div style="text-align: center; margin-top: 20px;"><a href="/proxy_harvester"><b>...Read more...</b></a></div>
		</article>

	</div>
</div>

{% endblock body_block %}